__pycache__/
*.pyc
.venv/
.eggs/
*.egg-info/
src/tytable/_version.py
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
tytable_assets/
report_assets/
docs/tytable-docs.pdf
.DS_Store
TODO.md
